affine==2.4.0
attrs==26.1.0
cdsapi==0.7.7
certifi==2026.6.17
cftime==1.6.5
charset-normalizer==3.4.7
click==8.4.2
cligj==0.7.2
cloudpickle==3.1.2
colorama==0.4.6
cryptography==43.0.0
dask==2026.6.0
ecmwf-datastores-client==0.5.1
fsspec==2026.6.0
h5netcdf==1.8.1
idna==3.18
locket==1.0.0
multiurl==0.3.9
netCDF4==1.7.4
numpy==2.5.0
packaging==26.2
pandas==3.0.3
partd==1.4.2
pyparsing==3.3.2
pyproj==3.7.2
PyJWT==2.9.0
python-dateutil==2.9.0.post0
pytz==2026.2
PyYAML==6.0.3
rasterio==1.5.0
requests==2.34.2
rioxarray==0.22.0
six==1.17.0
toolz==1.1.0
tqdm==4.68.3
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
xarray==2026.4.0
